!!!
%html
  %head
    %title Fatshop2013
    = stylesheet_link_tag    "application", :media => "all"
    = csrf_meta_tags

    %meta{ name: "viewport", content: "width=device-width, initial-scale=1.0" }
  %body
    .container#content
      = yield

    = javascript_include_tag "application"

